.game-container {
  width: 100vw;
  height: 100vh;

  position: relative;
}

.game-container__buttons {
  position: absolute;
  top: 10px;
  left: 10px;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px;

  border-radius: 10px;
  border: 2px solid black;

  background-color: red;
}

.game-container__button {
  padding: 10px;

  border-radius: 10px;
  border: 2px solid black;

  color: red;

  font-weight: 600;

  background-color: white;

  cursor: pointer;

  transition: .3s;

  &:hover {
    background-color: coral;
    color: white
  }
}
