@charset "UTF-8";
/**
 * breakpoints
 */
/**
 * font-family
 */
/**
 * color
 */
/**
 * z-layer
 */
/**
 * font-weight
 */
/**
 * other
 */
/**
 * flash to keyframes functions
 */
/**
 * Atlas
**/
/**
 * Keyframes
**/
@import "~normalize.css/normalize.css";
@import "~rc-collapse/assets/index.css";
/**
 * В Edge если в @keyframes нет описания начального состояния (0%/from), то ломается steps()
 */
/**
 * Баг в Edge+css минификатор. Минификатор сокращает 0% до 0, в edge при этом ломается steps()
 */
/**
 * Генерация keyframes для анимации 
 * $FRAMES_ORDER: (0,1,2,3,4,5,6,7,8,9,10,11,0,1,2,3,4,5,6,7,8,9,10,11,0);
 * @include animation(ANIMATION_NAME frames2time(length($frames_static) + 25) steps(1) infinite) {
 *   @include sequence-keyframes((w: $FRAME_WIDTH, h: $FRAME_HEIGHT), (w: $ATLAS_WIDTH, h: $ATLAS_HEIGHT), $FRAMES_ORDER, 25);
 * }
 */
@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translate(0, -10vh);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes lock-on {
  0% {
    background-position: 0 0;
  }
  50% {
    opacity: 1;
    background-position: 100% 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes frame-top {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes frame-left {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}
body,
html {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background: #ffffff;
}

body {
  opacity: 1;
  transition: opacity 0.2s;
  min-height: 100vh;
}
body.preload {
  opacity: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a,
button,
input,
textarea,
[tabindex] {
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

form {
  margin-block-end: 0;
}

* {
  transform-origin: 50% 50%;
  -webkit-tap-highlight-color: transparent;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Обычный текст
 */
html {
  font-family: "Thintel", Helvetica, sans-serif;
  color: #000000;
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 1.481vh;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 0.833vw;
  }
}
@media screen and (max-width: 1023px) {
  html {
    font-size: 3.4785vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  html {
    font-size: 2.89875vw;
  }
}

/* Layout */
.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
}
#menu-burger:checked ~ * .main-container {
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

#menu-burger:checked + .main-container {
  height: 100vh;
}

.game-container {
  width: 100vw;
  height: 100vh;
}

.game-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.game-loader__spinner {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 4px solid lightcoral;
  box-sizing: border-box;
  animation: fill 2s linear infinite alternate;
  color: rgba(255, 127, 80, 0.8);
  border-radius: 0 0 4px 4px;
}
.game-loader__spinner:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 4px solid lightcoral;
  width: 20px;
  height: 25px;
  border-radius: 0 4px 4px 0;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -48px inset;
  }
}
.game-loader__status {
  font-size: 32px;
  margin: 0;
}

.game-container__buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.game-container__button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid coral;
  background-color: #ffffff;
  color: coral;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.game-container__button:hover {
  background-color: coral;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
